In [16]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kurtosis

url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv?raw=true'
fuel_quality_data=pd.read_csv(url, error_bad_lines=False)
fuel_quality_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1995_12_161_3_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [3]:
#check for missing values
fuel_quality_data.isnull()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
29518,False,False,False,False,False,False,False,False,False,False,False
29519,False,False,False,False,False,False,False,False,False,False,False
29520,False,False,False,False,False,False,False,False,False,False,False
29521,False,False,False,False,False,False,False,False,False,False,False
29522,False,False,False,False,False,False,False,False,False,False,False

In [4]:
np.mean(fuel_quality_data)

utility_id_ferc1                1.186018e+02
report_year                     2.005806e+03
fuel_qty_burned                 2.622119e+06
fuel_mmbtu_per_unit             8.492111e+00
fuel_cost_per_unit_burned       2.086490e+02
fuel_cost_per_unit_delivered    9.175704e+02
fuel_cost_per_mmbtu             1.930435e+01
dtype: float64

In [6]:
np.std(fuel_quality_data)

utility_id_ferc1                7.417710e+01
report_year                     7.025364e+00
fuel_qty_burned                 9.117849e+06
fuel_mmbtu_per_unit             1.060004e+01
fuel_cost_per_unit_burned       2.854442e+03
fuel_cost_per_unit_delivered    6.877476e+04
fuel_cost_per_mmbtu             2.091506e+03
dtype: float64

In [7]:
fuel_quality_data.groupby('fuel_unit')

In [8]:
fuel_quality_data.groupby('fuel_unit').sum()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_unit,,,,,,,
bbl,904112,16052981,4.905918e+08,46263.918771,1359538.172,2.528998e+06,101127.40938
gal,9624,168643,2.897555e+07,463.998760,857.063,6.274560e+02,1069.81824
gramsU,58092,928929,3.695163e+08,11568.374241,138984.280,2.207752e+07,677.96300
kgU,5850,220649,2.482233e+07,352.157634,3909732.918,1.329483e+06,374.72200
mcf,1406241,22775695,5.529674e+10,11742.695055,146270.016,1.282598e+05,62086.44798
mmbtu,17378,361069,2.456512e+09,1451.595361,10952.314,1.084926e+04,598.61900
mwdth,8377,190113,6.436056e+07,851.489524,3655.067,1.374760e+03,43.78900
mwhth,11180,200640,2.892479e+09,679.415411,528.716,0.000000e+00,152.92000
ton,1056498,17958031,1.493689e+10,175381.071417,584369.129,1.007487e+06,378004.16417

In [9]:
fuel_quality_data.groupby('record_id')

In [10]:
fuel_quality_data.groupby('record_id').sum()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
record_id,,,,,,,
f1_fuel_1994_12_100_0_1,100,1994,1379253.0,16.130000,27.139,27.139,1.682
f1_fuel_1994_12_100_0_11,100,1994,3729158.0,1.078320,1.994,1.994,1.849
f1_fuel_1994_12_100_0_14,100,1994,25910162.0,1.048499,2.090,2.090,1.993
f1_fuel_1994_12_100_0_15,100,1994,54320.0,6.344142,80.245,80.245,12.649
f1_fuel_1994_12_100_0_3,100,1994,15419.0,5.696880,48.745,48.745,8.557
...,...,...,...,...,...,...,...
f1_fuel_2018_12_99_0_2,99,2018,725532.0,18.000000,56.745,0.000,3.080
f1_fuel_2018_12_99_0_7,99,2018,15336577.0,1.000000,3.597,0.000,3.523
f1_fuel_2018_12_99_1_10,99,2018,57638147.0,1.000000,3.595,0.000,3.534
f1_fuel_2018_12_99_1_13,99,2018,25990722.0,1.000000,3.167,0.000,3.029
f1_fuel_2018_12_99_1_4,99,2018,75192.0,1.000000,5.326,0.000,5.128

In [11]:
#question 1
#If you’re given two lists:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A_B = A + B
A_B

#A.append(B) and A.extend(B) will only mutate A but A_B will be None

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [12]:
#question 2
How do you create an identity matrix in python?

np.eye(3)
np.identity(3)






#

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [13]:
#Question 3
#Which of the following fuel type code has the lowest average fuel cost per unit burnned?

fuel_quality_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().sort_values()[:2]

fuel_type_code_pudl
gas      13.659397
other    18.253856
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
#answer is gas

In [14]:
#number 4
std=fuel_quality_data["fuel_mmbtu_per_unit"].std()
percentile=np.percentile(fuel_quality_data["fuel_mmbtu_per_unit"], 75)
print(std)
print(percentile)

#answer is 10.60 and 17.01

10.600220307806886
17.006

In [17]:
#number 5
skew=fuel_quality_data['fuel_qty_burned'].skew()
kurt=kurtosis(fuel_quality_data['fuel_qty_burned']);
print(skew)
print(kurt)

#answer is 15.85 and 651.37

15.851495469109503
651.2589365474387

In [18]:
#number 6
#Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

#check for missing data
fuel_quality_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [19]:
180/len(fuel_quality_data['fuel_unit'])

#Feature: fuel_unit, Total:180, Percentage:0.006

0.00609694136774718

In [20]:
#number 7
#The feature with missing values falls under what category? What missing value imputation technique would you use?
fuel_quality_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_quality_data[['fuel_unit']]=fuel_quality_data[['fuel_unit']].fillna(value="mcf")

In [21]:
fuel_quality_data.isnull().sum()
#checking if missing value have been filled up

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [22]:
fuel_quality_data['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', 'mwdth', 'mmbtu', 'mwhth',
       'gal'], dtype=object)

In [ ]:
As seen above, the values of 'fuel_unit' are categorical, meaning mode imputation will be the best option.

In [23]:
#number 8
#Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

fuel_quality_data.corr().loc['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
Answer: fuel_qty_burned and fuel_mmbtu_per_unit

In [24]:
#number 9
#For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

yearly_cost=fuel_quality_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

year_1994, year_1998=yearly_cost.loc[[1994,1998], 'coal']
percentage_change=((year_1998 - year_1994) / (year_1994)) * 100
percentage_change

-20.56765451826049

In [ ]:
Answer is -21%

In [26]:
#number 10
#Which year has the highest average fuel cost per unit delivered?

fuel_quality_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
Answer is 1997